body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator{
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    background-color: black;
    padding: 20px;
}

.display{
    background-color: rgb(168, 193, 118);
    color: black;
    box-sizing: border-box;
    height: 100px;
    font-size: 40px;
    padding: 30px 10px 0px 10px;
    text-align: right;
}

